.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(40, 44, 52, 0.9);
  color: white;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}
