@import "./_variables";
@import "./_mixins";

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  @include button-styles;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    opacity: 0.8; // Transparency effect on hover
  }
}
